<div class="container">
    </br>
    <h1 class="page-header">Products</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search for Signature by Order Number</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control" ng-model="productName" id="productName" tl-on-enter="submitOrder()" value="{{productName}}" placeholder="Product Name">      <span class="input-group-btn">
                  <span class="input-group-btn input-group-btn-lg">
                    <button class="btn btn-default btn-lg" type="button" id="newProductButton" ng-click="submitNewProduct()">Save</button>
                  </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
        <div class="panel-footer">
            <p>{{ saveResult }}</p>
        </div>
    </div>
    <ul class="list-group">
        <div ng-repeat="product in products">
            <li class="list-group-item">{{product.name}}</li>
        </div>
    </ul>
</div>